default:
  image: gitlab.hexacore.io:5050/pocketspace/infrastructure/image-common:docker-20-10-17
  services:
    - name: docker:20.10.17-dind
      alias: docker

variables:
  GCP_PROJECT_ID: light-haven-412114
  GCP_REGION: europe-central2
  GCP_REGISTRY_NAME: pocketspace
  GCP_REG_URL: $GCP_REGION-docker.pkg.dev/$GCP_PROJECT_ID/$GCP_REGISTRY_NAME
  IMAGE_NAME: $GCP_REG_URL/$CI_PROJECT_NAME:$CI_PIPELINE_ID-$CI_COMMIT_SHORT_SHA
  KIND: frontend
  GCP_CLUSTER_NAME: hexacore

stages:
  - build
  - deploy

# --- commit develop
k8s-build-develop:
  stage: build
  script:
    # --- auth artifact registry
    - PATH="/usr/local/lib/google-cloud-sdk/bin:${PATH}"
    - gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://$GCP_REGION-docker.pkg.dev
    # ---
    - sed -i "s/app-service/$CI_PROJECT_NAME/g" ./Dockerfile
    - docker build
        --build-arg APP_ENV_ARG="develop"
      -t $IMAGE_NAME-develop .
    - docker push $IMAGE_NAME-develop
    - docker rmi -f $IMAGE_NAME-develop
  when: manual
  only:
    - develop
    - main
    - /^feature/
  tags:
    - gcp-gitlab-runner-01

k8s-deploy-develop:
  stage: deploy
  image:
    name: gitlab.hexacore.io:5050/pocketspace/infrastructure/image-common:dtzar-helm-kubectl-latest
    entrypoint: [""]
  script:
    # --- auth gke
    - PATH="/usr/local/lib/google-cloud-sdk/bin:${PATH}"
    - gcloud container clusters get-credentials $GCP_CLUSTER_NAME-develop --zone $GCP_REGION-a --project $GCP_PROJECT_ID
    # --- helm chart update
    - git clone https://$GITLAB_TOKEN_NAME:$GITLAB_TOKEN@$MICROSERVICE
    - mv microservice/$CI_PROJECT_NAME .helm && rm -rf microservice
    - sed -i "s/project_name/$CI_PROJECT_NAME/g" ./.helm/Chart.yaml
    - cat ./.helm/Chart.yaml
    - helm lint ./.helm
    - helm upgrade --install $CI_PROJECT_NAME-$KIND-develop ./.helm
      --set namespace=$CI_PROJECT_NAME-develop
      --set project=$CI_PROJECT_NAME
      --set kind=$KIND
      --set app_env=develop
      --set deployment.container.image=$IMAGE_NAME-develop
      --set affinity.role=worker
      --set affinity.environment=develop
      --set host_url_01=slime-ui-develop.hexacore.io
      --namespace $CI_PROJECT_NAME-develop
      --create-namespace
      --debug
      --atomic
      --wait
      --timeout 5m
    - kubectl rollout restart deployment $CI_PROJECT_NAME-$KIND-develop --namespace $CI_PROJECT_NAME-develop
    # ---
    - resources=$(kubectl get deployment -o=jsonpath='{range .items[*]}{.metadata.name}{"\n"}{end}' -n $CI_PROJECT_NAME-develop | grep $CI_PROJECT_NAME-$KIND-develop)
    - echo "rollout for deployment/$resources"
    - kubectl set image deployment/$resources $CI_PROJECT_NAME-$KIND-develop=$IMAGE_NAME-develop -n $CI_PROJECT_NAME-develop
    - for r in deployment/$resources; do kubectl rollout status $r -n $CI_PROJECT_NAME-develop || exit 1; done
  only:
    - develop
    - main
    - /^feature/
  tags:
    - gcp-gitlab-runner-01
  needs: ["k8s-build-develop"]

k8s-rollback-develop:
  stage: deploy
  image:
    name: gitlab.hexacore.io:5050/pocketspace/infrastructure/image-common:dtzar-helm-kubectl-latest
    entrypoint: [""]
  script:
    # --- auth gke
    - PATH="/usr/local/lib/google-cloud-sdk/bin:${PATH}"
    - gcloud container clusters get-credentials $GCP_CLUSTER_NAME-develop --zone $GCP_REGION-a --project $GCP_PROJECT_ID
    # ---
    - helm rollback $CI_PROJECT_NAME-$KIND-develop
      --namespace $CI_PROJECT_NAME-develop
      --debug
      --wait
      --timeout 5m
  when: manual
  only:
    - develop
    - main
    - /^feature/
  tags:
    - gcp-gitlab-runner-01
  needs: ["k8s-build-develop"]
# ---

# --- commit main
k8s-build-prod:
  stage: build
  script:
    # --- auth artifact registry
    - PATH="/usr/local/lib/google-cloud-sdk/bin:${PATH}"
    - gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://$GCP_REGION-docker.pkg.dev
    # ---
    - sed -i "s/app-service/$CI_PROJECT_NAME/g" ./Dockerfile
    - docker build
        --build-arg APP_ENV_ARG="main"
        --build-arg BUY_PASS_DISABLED_STATUS_ARG="true"
      -t $IMAGE_NAME-prod .
    - docker push $IMAGE_NAME-prod
    - docker rmi -f $IMAGE_NAME-prod
  when: manual
  only:
    - main
  tags:
    - gcp-gitlab-runner-01

k8s-deploy-prod:
  stage: deploy
  image:
    name: gitlab.hexacore.io:5050/pocketspace/infrastructure/image-common:dtzar-helm-kubectl-latest
    entrypoint: [""]
  script:
    # --- auth gke
    - PATH="/usr/local/lib/google-cloud-sdk/bin:${PATH}"
    - gcloud container clusters get-credentials $GCP_CLUSTER_NAME-common --zone $GCP_REGION-a --project $GCP_PROJECT_ID
    # --- helm chart update
    - git clone https://$GITLAB_TOKEN_NAME:$GITLAB_TOKEN@$MICROSERVICE
    - mv microservice/$CI_PROJECT_NAME .helm && rm -rf microservice
    - sed -i "s/project_name/$CI_PROJECT_NAME/g" ./.helm/Chart.yaml
    - cat ./.helm/Chart.yaml
    - helm lint ./.helm
    - helm upgrade --install $CI_PROJECT_NAME-$KIND-main ./.helm
      --set namespace=$CI_PROJECT_NAME-prod
      --set project=$CI_PROJECT_NAME
      --set kind=$KIND
      --set app_env=main
      --set deployment.container.image=$IMAGE_NAME-prod
      --set affinity.role=worker
      --set affinity.environment=prod
      --set host_url_01=slime-ui.hexacore.io
      --namespace $CI_PROJECT_NAME-prod
      --create-namespace
      --debug
      --atomic
      --wait
      --timeout 5m
    - kubectl rollout restart deployment $CI_PROJECT_NAME-$KIND-main --namespace $CI_PROJECT_NAME-prod
    # ---
    - resources=$(kubectl get deployment -o=jsonpath='{range .items[*]}{.metadata.name}{"\n"}{end}' -n $CI_PROJECT_NAME-prod | grep $CI_PROJECT_NAME-$KIND-main)
    - echo "rollout for deployment/$resources"
    - kubectl set image deployment/$resources $CI_PROJECT_NAME-$KIND-main=$IMAGE_NAME-prod -n $CI_PROJECT_NAME-prod
    - for r in deployment/$resources; do kubectl rollout status $r -n $CI_PROJECT_NAME-prod || exit 1; done
  only:
    - main
  tags:
    - gcp-gitlab-runner-01
  needs: ["k8s-build-prod"]

k8s-rollback-prod:
  stage: deploy
  image:
    name: gitlab.hexacore.io:5050/pocketspace/infrastructure/image-common:dtzar-helm-kubectl-latest
    entrypoint: [""]
  script:
    # --- auth gke
    - PATH="/usr/local/lib/google-cloud-sdk/bin:${PATH}"
    - gcloud container clusters get-credentials $GCP_CLUSTER_NAME-common --zone $GCP_REGION-a --project $GCP_PROJECT_ID
    # ---
    - helm rollback $CI_PROJECT_NAME-$KIND-main
      --namespace $CI_PROJECT_NAME-prod
      --debug
      --wait
      --timeout 5m
  when: manual
  only:
    - main
  tags:
    - gcp-gitlab-runner-01
  needs: ["k8s-build-prod"]
# ---
