#root {
    --font-poppins: 'Poppins', sans-serif;
    --font-prompt: 'Prompt', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-red-hat-text: 'Red Hat Text', sans-serif;
    --font-monospace: 'Fira Code', 'Fira Mono', monospace; /* Example monospace fonts */
    box-sizing: border-box;
    height: 100dvh;
}

a {
    text-decoration: none; /* no underline */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    height: 100%;
}

.loaderContainer {
    display: flex;
    height: 100dvh;
    background: #0C0B1A;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    height: 120px;
}

.progressBar {
    width: 164px;
    height: 4px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.progress {
    background-color: #FFFFFF;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
}
