#root {
    --font-poppins: 'Poppins', sans-serif;
    --font-prompt: 'Prompt', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-red-hat-text: 'Red Hat Text', sans-serif;
    --font-monospace: 'Fira Code', 'Fira Mono', monospace; /* Example monospace fonts */
    box-sizing: border-box;
    height: 100%;
}

#root > div:first-of-type {
    height: 100%;
}

:root {
    --header-height: 64px;
}

a {
    text-decoration: none; /* no underline */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    height: 100%;
}

code {
    font-family: var(--font-monospace);
}

button {
    /*font-family: var(--font-poppins);*/
}

.fade {
    height: 100%;
}
