body {
    margin: 0;
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    height: 100dvh;
}

#root {
    --font-poppins: 'Poppins', sans-serif;
    --font-prompt: 'Prompt', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-red-hat-text: 'Red Hat Text', sans-serif;
    --font-monospace: 'Fira Code', 'Fira Mono', monospace; /* Example monospace fonts */
    box-sizing: border-box;
    height: 100%;
}

a {
    text-decoration: none; /* no underline */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.loaderContainer {
    display: flex;
    height: 100%;
    background: linear-gradient(192.93deg, #7DFBFF -17.88%, #7DB9FF 31.63%, #7151FF 69.44%, #402E90 107.17%);
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    display: flex;
    width: 100%;
    height: 424px;
    justify-content: center;
    position: relative;
}

.logo {
    width: 320px;
    z-index: 2;
}

.progressBar {
    padding: 3px;
    z-index: 1;
    width: 96px;
    height: 12px;
    position: absolute;
    border-radius: 30px;
    left: 140px;
    bottom: 54px;
    background-color: black;
    display: flex;
    align-items: center;
}

.progress {
    background: linear-gradient(90deg, #FFF065 20.99%, #FF1E00 100%);
    height: 6px;
    border-radius: 22px;
}
